html{
	position:relative;
	min-height: 100%;
} 
body {
	height:100%;
	Widht:100%;
	min-width:1300px;
	min-height:100%;
	margin: 0;
	padding:0;
	background:#bb6615;
	//display:table;
	margin:auto;
}

#header{
	position:fixed;
	top:0;
	left:0;
	height:10%;
	min-height:80px;
	Width:100%;
	margin:0;
	//background:#400040; //#ffa500;
	background:#000000 url("../image/logo.jpg") 0px 0px no-repeat;
	box-shadow: 0px 5px 5px rgba(10,10,10,0.8);
	z-index:50;
}
.newpost 
{
background:#ffffff;
//margin: 3px -22px 0 0;
margin: 0 20px;
width: 180px;
position: relative;
top:20px;
right:20px;
height: 40px;
//border-radius: 6px;
text-align:center;
vetical-align:middle;
/*border-style:solid;
border-width:1px;
border-color:#575757;*/
float:right;
}

a#postbtn{
font-weight: bold;
font-size: 100%;
line-height: 30px;
color: black;
position: absolute;
z-index: 101;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 160px;
margin: -11px 0 0 -10px;
text-decoration:none;
cursor:pointer;
}

