@import url("header.css");

html, body {
	height:100%;
	Width:100%;
	min-width:1300px;
	min-height:100%;
	margin: 0;
	padding:0;
	background:#000000;
}

.newpost 
{
background:#ffffff;
//margin: 3px -22px 0 0;
margin: 0 20px;
width: 180px;
position: relative;
top:20px;
right:20px;
height: 40px;
//border-radius: 6px;
text-align:center;
vetical-align:middle;
/*border-style:solid;
border-width:1px;
border-color:#575757;*/
float:right;
}

a#postbtn{
font-weight: bold;
font-size: 100%;
line-height: 30px;
color: black;
position: absolute;
z-index: 101;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 160px;
margin: -11px 0 0 -10px;
text-decoration:none;
cursor:pointer;
}

