@import url("header.css");
html, body {
	height:100%;
	width:100%;
	margin:0;
	background:#efefef;
	//overflow-x:hidden;
}

#button-area{
	margin:0;
	height:5%;
	width:97%;
	min-width:1300px;
	//min-height:65px;
	padding: 1%;
}

.button_{
	margin:0.2%;
	padding:10px;
	height:25px;
	width:8%;
	background:#226e01;
	color : white;
	text-align:center;
	float:left;
}

#publish{
	float:left;
	cursor:pointer;
}
#publish:hover{
	opacity:0.9;
}
#publish:active{
	transform:translateY(1px);
	opacity:0.8;
}
#save{
	float:left;
	cursor:pointer;
}
#save:hover{
	opacity:0.9;
}
#save:active{
	transform:translateY(1px);
	opacity:0.8;
}

input[type="text"]{
    padding: 12px 20px;
    height:43px;
   // margin: 25px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}
#heading{
	width:40%;
	float:left;
	background:#ffffff;
	color : #000000;
}

/*Container, container body, iframe*/
.mce-tinymce, .mce-container-body, #code_ifr {
    min-height: 80% !important;
}
/*Container body*/
.mce-container-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/*Editing area*/
.mce-container-body .mce-edit-area {
    position: absolute;
    top: 69px;
    bottom: 0px;
    left: 0;
    right: 0;
}
/*Footer*/
.mce-tinymce .mce-statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
